minecraftinstance.json
.probe
/saves
/.bobby
/.persistent
.curseclient
/cache
/.vscode
/.mixin.out
/essential
/crash-reports
/data
/kiwipacks
/downloads
/debug
/local
/logs
/miapi_runtime_datapacks
/moddata
/patchouli_books
/schematics
/screenshots
/scripts
/waypoints
/command_history.txt
fabricloader.log
emi.json
knownkeys.txt
modlist.html
ops.json
options.txt
patchouli_data.json
servers.dat
servers.dat_old
usercache.json
usernamecache.json
whitelist.json
/mods
/journeymap
config/fabric
config/iris.properties
config/ftbchunks-client.snbt
config/sodium-fingerprint.json
config/sodium-options.json
config/emi.css
kubejs/config/probe-settings.json